.header {
  width: 100%;
  min-height: 576px;
  background-image: url("../../assets/header-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.header__content {
  width: calc(100% - 32px);
  max-width: 608px;
  margin: 80px auto 0;
}

.header__title {
  max-width: 608px;
  margin: 0;
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
}

.header__description {
  margin: 32px 0 88px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  .header {
    min-height: 400px;
  }

  .header__content {
    max-width: 452px;
    margin-top: 38px;
  }

  .header__title {
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
  }

  .header__description {
    margin: 16px 0 48px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    min-height: 536px;
    background-position: center;
  }

  .header__content {
    width: calc(100% - 32px);
    margin-top: 30px;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
  }

  .header__description {
    margin: 16px 0 48px;
    font-size: 18px;
    line-height: 24px;
  }
}
